/* Set margin and padding to 0 for the body */
body {
    margin: 0;
    padding: 0;
  }
  
  /* Style for the header */
  header {
    background-color: #904949;
    color: #4f810d;
    padding: 10px;
  }

   /* Set background color */
body {
    background-color: #888cc2;
  }
  
  /* Set heading color */
  h1 {
    color: #008080;
  }
  
  /* Set paragraph text color */
  p {
    color: #333;
  }
  
  /* Set link color */
  a {
    color: #008080;
  }
  
  /* Set link hover color */
  a:hover {
    color: #006666;
  }
  
  /* Style for the navigation bar */
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Style for the main section */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Style for the About section */
  #about {
    text-align: center;
  }
  
  #about h1 {
    font-size: 36px;
    margin-top: 20px;
  }
  
  #about img {
    max-width: 300px;
    border-radius: 50%;
    margin-top: 20px;
  }
  
  #about p {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
  }
  
  /* Style for the Projects section */
  #projects {
    margin-top: 50px;
  }
  
  #projects h2 {
    font-size: 30px;
    margin-top: 0;
  }
  
  .project {
    margin-top: 40px;
  }
  
  .project h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .project img {
    max-width: 100%;
    margin-top: 20px;
  }
  
  .project p {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
  }
  
  /* Style for the footer */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
